body {
	 font-family: arial;
	 background-color: Cornsilk;
	 background-repeat: no-repeat;
	 }
h1, h2 {
	text-decoration: underline;
	text-align: center;
	color: Red;
       }
p {
	font-family: Times New Roman;
	font-size: 20px
	
}
ol{list-style-type: square;}

a {
  color: blue;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: red;
}

.attrs{
	color:red;
}
